<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Practice site</title>
  <% include view/_head %>
</head>
<body>
  <h1>Hello World!</h1>
<script src="assets/js/app.js" async></script>
</body>
</html>
