<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Practice site</title>
  <% include view/_head %>
</head>
<body>
  <main class="l-index">
    <section class="l-index-hero">
      <div class="hero">
        <h1 class="hero-title">My Test Site</h1>
      </div>
    </section>
    <section class="l-index-feature">
      <div class="feature l-container">
        <h2 class="feature-title">Features</h2>
        <ul class="feature-list">
          <li class="feature-list-item">
            <article class="article">
              <a class="article-link" href="#">
                <div class="article">
                  <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
                  <h3 class="article-title">Test 1</h3>
                  <p class="article-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt odio quibusdam nihil doloremque, commodi quasi ex natus, laboriosam facere, voluptates exercitationem quam tempora. Sint illo ad nisi in impedit.
                  </p>
                </div>
              </a>
            </article>
          </li>
          <li class="feature-list-item">
            <article class="article">
              <a class="article-link" href="#">
                <div class="article">
                  <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
                  <h3 class="article-title">Test 1</h3>
                  <p class="article-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt odio quibusdam nihil doloremque, commodi quasi ex natus, laboriosam facere, voluptates exercitationem quam tempora. Sint illo ad nisi in impedit.
                  </p>
                </div>
              </a>
            </article>
          </li>
          <li class="feature-list-item">
            <article class="article">
              <a class="article-link" href="#">
                <div class="article">
                  <img class="article-image" src="assets/images/bg.jpeg" alt="Mountain">
                  <h3 class="article-title">Test 1</h3>
                  <p class="article-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt odio quibusdam nihil doloremque, commodi quasi ex natus, laboriosam facere, voluptates exercitationem quam tempora. Sint illo ad nisi in impedit.
                  </p>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </section>
  </main>
<script src="assets/js/app.js" async></script>
</body>
</html>
